body {
  background: #202028;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: center;
  box-sizing: border-box;
}

.sponsor-window {
  line-height: 3em;
  margin-top: 10px;
}

.initechtris {
  text-transform: uppercase;
  color: #57B09F;
  font-size: 4em;
  font-style: italic;
  -webkit-text-stroke: 1px black;
  color: white;
  text-shadow:
      3px 3px 0 #57B09F,
    -2px -2px 0 #000,
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #57B09F;
}

.initech {
  text-transform: uppercase;
  color: white;
  text-shadow:
      2px 2px 0 #57B09F,
    -1px -1px 0 #fff,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #57B09F;
  font-size: 2em;
  font-style: italic;
}

/*.swingline {
  font-family: 'Damion', cursive;
  font-size: 2em;
  color: #ce2029;
}*/
.tagline {
  font-family: 'Damion', cursive;
  font-size: 2em;
  /*color: #ce2029;*/
}


.game {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  align-items: center;
  justify-content: center;
}

.game-window {
  border: 2px solid ##57B09F;
}

canvas {
  border: 0.5em solid #57B09F;
  /*margin-top: 70px;*/
  height: 90vh;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 2px;
}

.game-panel {
  font-size: 1.5em;
  line-height: 1.5em;
}

.score-text {
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
  text-shadow:
    2px 1px 0 #57B09F,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #57B09F;
    margin-bottom: 10px;
}

#score {
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  text-shadow:
    2px 1px 0 #57B09F,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #57B09F;
  margin-bottom: 20px;
}

h2 {
  color: white;
  text-shadow:
    2px 1px 0 #57B09F,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #57B09F;
  font-size: 1.75em;
  margin-bottom: 10px;
}

.arrow {
  color: white;
  text-shadow:
      3px 3px 0 #57B09F,
    -2px -2px 0 #000,
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #57B09F;
}

.space {
  color: white;
  text-shadow:
      2px 1px 0 #57B09F,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #57B09F;
}

.return {
  color: white;
  text-shadow:
      2px 1px 0 #57B09F,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #57B09F;
}

.header-logo {
  background: url("https://www.brandsoftheworld.com/sites/default/files/styles/logo-thumbnail/public/0024/6465/brand.gif?itok=WXRZKWKU");
  background-repeat: no-repeat;
  background-position: center center;
  height: 125px;
}

.id-card {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #000;
  margin-top: 50px;
  border: 2px solid #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  height: 250px;
}

.employee {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 20px;
}

.bio {
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  margin-left: 45px;
  text-align: center;
  vertical-align: middle;
}

@media only screen and (max-width: 900px) {
  .sponsor-window {
    display: none;
  }

  .id-card {
    margin-right: 50px;
  }
}
