@font-face {
  font-family: 'Fink-Roman';
  src: url('../assets/fonts/FinkRoman.eot');
  src: url('../assets/fonts/FinkRoman.eot') format('embedded-opentype'),
        url('../assets/fonts/FinkRoman.woff') format('woff'),
        url('../assets/fonts/FinkRoman.ttf') format('truetype'),
        url('../assets/fonts/FinkRoman.svg') format('svg');
}


body {
  background: #fff;
  
  color: #c01d2e;
  font-family: 'Fink-Roman', sans-serif;
  font-size: 1.5em;
  text-align: center;
  box-sizing: border-box;
}

.game {
  height: 100%;
  width: auto;
}

.office-space {
  font-family: 'Fink-Roman';
  font-size: 75px;
  color: #c01d2e;
  letter-spacing: -4px;
  margin-bottom: -25px;
}

.capital-p {
  font-size: 60px;
  vertical-align: 20px;
}

.sponsor-window {
  height: 70vh;
  min-width: 350px;
  line-height: 3em;
  margin-top: 120px;
  background: url('../assets/milton_cover.png');
  background-repeat: no-repeat;
}

.sponsor-text {
  height: 300px;
  margin-top: -130px;
}

/*.initechtris {
  text-transform: uppercase;
  color: #57B09F;
  font-size: 4em;
  font-style: italic;
  -webkit-text-stroke: 1px black;
  color: #aaa;
  text-shadow:
      3px 3px 0 #57B09F,
    -2px -2px 0 #000,
     2px -2px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #57B09F;
}*/

/*.initech {
  text-transform: uppercase;
  color: #aaa;
  text-shadow:
      2px 2px 0 #57B09F,
    -1px -1px 0 #fff,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #57B09F;
  font-size: 2em;
  font-style: italic;
}*/

.swingline {
  font-family: 'Damion', cursive;
  font-size: 2em;
  color: #ce2029;
}
.tagline {
  font-family: 'Damion', cursive;
  font-size: 2em;
  /*color: #ce2029;*/
}


.game {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding-top: 25px;
  align-items: center;
  justify-content: center;
}

.game-window {
  border: 2px solid ##57B09F;
  margin-left: 20px;
  margin-right: 20px;
}

canvas {
  border: 5px solid #c01d2e;
  /*margin-top: 70px;*/
  height: 90vh;
  /*margin-left: 40px;
  margin-right: 40px;*/
  border-radius: 2px;
}

.game-panel {
  font-size: 0.9em;
  line-height: 1.5em;
  text-align: left;
}

.score-text {
  /*padding-top: 300px;*/
  font-size: 1.25em;
  font-family: 'Fink-Roman';
  text-align: left;
  /*text-shadow:
    2px 1px 0 #c01d2e,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #c01d2e;
    margin-bottom: 10px;*/
}

#score {
  font-size: 2.5em;
  font-family: 'Fink-Roman', serif;
  padding-bottom: 40px;
  /*text-align: left;*/
  /*text-shadow:
    2px 1px 0 #c01d2e,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #c01d2e;
  margin-bottom: 20px;*/
}

.lumbergh {
  background: url('../assets/lumbergh.png');
  background-size: 250px 500px;
  height: 700px;
  width: 400px;
  background-repeat: no-repeat;
  /*float: left;*/
  position: absolute;
  left: 900px;
  top: 100px;
}

h2 {
  font-family: 'Fink-Roman', serif;
  font-size: 2.5em;
  color: #c01d2e;
  /*text-shadow:
    2px 1px 0 #c01d2e,
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #c01d2e;
  font-size: 1.75em;
  margin-bottom: 10px;*/
}

.controls {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #c01d2e;
}

.arrow {
  margin: 0 5px;
}

@media only screen and (max-width: 900px) {
  .sponsor-window {
    display: none;
  }

  .id-card {
    margin-right: 50px;
  }
}
